.navbar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background-color: var(--color-navbar);
  border-radius: 999px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  width: 300px;
}

/* botões */
.nav_button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease;
}

/* botão esquerdo (primeiro) */
.nav_button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}

/* botão direito (último) */
.nav_button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}

/* hover colorido */
.nav_button:hover {
  background-color: var(--color-navbar-alt); /* ou qualquer cor de destaque */
}

.isSelected {
  background-color: var(--color-navbar-alt-2); /* ou qualquer cor de destaque */
}
