.search_input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-md);
  background-color: var(--color-home-background);
  color: var(--color-text);
  width: 100%;
}
.search_container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.filter_select {
  margin-left: 8px;
  padding: 8px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-md);
  background-color: var(--color-home-background);
  color: var(--color-text);
  cursor: pointer;
}

.search_input:hover,
.search_buttom:hover {
  border: 1px solid var(--color-border-hover);
  border-radius: var(--border-radius-md);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transform: scale(1.005);
  cursor: pointer;
  transition: 0.3s ease, transform 0.2s ease;
}
