.project-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--space-sm);
  border-radius: var(--border-radius-md);
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
  transition: transform var(--transition-fast),
    background-color var(--transition-medium),
    box-shadow var(--transition-medium);
  gap: var(--space-xs);
  min-height: max-content;
}

.project-card:hover {
  transform: translateY(-2px);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: var(--shadow-md);
}

.project-name {
  font-size: var(--font-size-md);
  font-weight: 600;
  color: var(--color-text);
  word-break: break-word;
}

.project-datails {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);
  gap: var(--space-xxs);
}

.project-owner-pic img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
