.createCommunityButton {
  flex: 1;
  padding: var(--space-md);
  color: var(--color-text);
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-md);
  cursor: pointer;
}
.comunitys_actions {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.createCommunityModalContent {
  width: 500px;
  height: 500px;
  background-color: var(--color-home-background);
}
/* ======================
   HOVER / TRANSIÇÕES
====================== */
.comunitys_actions:hover {
  transition: 0.3s ease, transform 0.2s ease;
  border: 1px solid var(--color-border-hover);
  border-radius: var(--border-radius-md);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
